.post {
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    align-content: space-around;
    justify-content: center;
}

.post img {
    width: 600px;
    height: 650px;
    object-fit: cover;
}
