

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  }

.post-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    min-width: 600px;
    top: 30%;


}

.post-main div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.createTitle {
    color: #262626;
    background-color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}

.newpost {
    display: flex;
    border: 1px solid #bbbbbb;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    width: 650px;
    padding-left: 20px;
    padding-right: 20px;
    padding-block-end: 20px;
}

.loginImage {
    height: 600px;
}

.input-element{
    font-size: 18px;
   border: none;
   width: inherit;
   max-width: 600px;
   width: 448px;
   height: 200px;
   background-color: white;
   margin-top: 10px;
    }

.holderimg {
    font-size: 200px;
    color: grey;
    background-color: white;
}

.input-element:focus{
    outline-width: 0;
}

.newpostForm {
    background-color: white;
    padding: 20px;
  }

.newpostForm div {
background-color: white;
}

.characterLimit {
    background-color: white;
    color: grey;

}

.input-element::placeholder {
    font-size: 18px;
}

.previewImage{
    width: inherit;
    margin: auto;

}

.nameandpic{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(219,219,219);
    background-color: white;
}

.nameandpic p{
    background-color: white;
}

.newpost a {
    color: #0095f6;
    color: rgba(var(--fe0,0,55,107),1);
    text-decoration: none;

}

.newpost button {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    cursor: pointer;
    float: right;
    border: none;
    color: rgb(76, 76, 255);
    background: white;
    height: auto;
    font-size: 18px;
}
